body{
    color:blueviolet;/*cor da fonte*/
    background-color: rgb(138, 43, 226);/*cor de fundo*/
    font-size: 24px;/*tamanho da fonte*/
}
header{

    border: solid 2px rgb(rgb(0, 0, 0)/*borda;
}